<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">	
	
	<link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/registration.css">
	<link rel="stylesheet" href="">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title>Filmloop</title>


<style>

</style>
</head>

<body>

		<div class="nav">
           
				<div class="container-fluid top">
				  <div style="width: 100%px; height:10px;"></div>
			<img src="images/ff_Webp.net-resizeimage.png">
				 <!--  <div><span class="glyphicon glyphicon-cog"></span></div> -->
				</div>
			   
		</div> 

		     <div class="aside">
            
          <form action="/search/" method="post" enctype="multipart/form-data" onsubmit=" return validateForm()">
          {% csrf_token %}
          
          <button id="selector" class="btn btn-default btn-lg" onclick="ajaxfunc()">Download</button>
          </form>
          <div>
            <p id="demo"></p>  
      
           
          </div>
     </div> 

      
     <div id="gallery">     
       <{% for i in search_list %}
              {% load static %}
       <div ><img src="{% static i %}" data="{{i}}" class="image">
          <button class="btn btn-default mybtn">Click here to profile</button>
          {% empty %}
          
          <p>No matches</p>

        {% endfor %}
       
      
     </div>
    
   </div>

	