<div class="">
  <div class="col-xs-12 container-block">
    <div id="filmloop">
      <h2 class="film">FILM</h2>
      <h2>LOOP</h2>
    </div>
  </div>
  <div id="what-we-do" class="col-xs-12 container-block">
    <div class="row col-xs-12 what-we-do-title">
      <img src="../../../assets/img/hamb_menu_white.png">
      <h2 class="center col-xs-12">WHAT WE DO</h2>
    </div>
    <div id="wwd-text" class="center col-xs-12">
      <span class="col-xs-2"></span>
      <p class="col-xs-8">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </div>
    <div class="col-xs-12">
      <span class="col-xs-1"></span>
      <h3 id="ready-to-discover" class="col-xs-10">READY TO DESCOVER THE BENEFITS OF OUR PRODUCT?</h3>
    </div>
    <div class="button-container center">
      <span class="col-xs-1"></span>
      <div class="col-xs-12 col-sm-5">
        <button class="wwd-btn">NO, REGISTER NOW</button>
      </div>
      <div class="col-xs-12 col-sm-5">
        <button class="wwd-btn">YES, SHOW ME</button>
      </div>
    </div>
  </div>
  <div class="col-xs-12 container-block contact-us">
    <div class="row col-xs-12 contact-title">
      <img src="../../../assets/img/hamb_menu_white.png">
      <h2 class="center col-xs-12">WANT TO KNOW MORE?</h2>
    </div>
    <div>
      <h3>Contact Us</h3>
      <div class="row">
        <span class="col-xs-1"></span>
        <input class="col-xs-10" type="text" placeholder="YOUR NAME"><br>
        <span class="col-xs-1"></span>
      </div>
      <div class="row">
        <span class="col-xs-1"></span>
        <input class="col-xs-10" type="text" placeholder="YOUR E-MAIL"><br>
        <span class="col-xs-1"></span>
      </div>
      <div class="row">
        <span class="col-xs-1"></span>
        <textarea id="message" class="col-xs-10" placeholder="YOUR MESSAGE"></textarea><br>
        <span class="col-xs-1"></span>
      </div>
    </div>
    <div class="row">
      <span class="col-xs-1"></span>
      <h3 class="col-xs-10">
        <span class="col-md-4 col-sm-6 col-xs-12">
         ADMIN@FILMLOOP.COM
        </span>
        <span class="col-md-3 col-sm-6 col-xs-12">
          +91 74853 49304
        </span>
        <span class="col-md-2 col-sm-6 col-xs-12">
          CHENNAI
        </span>
        <span id="send-btn" class="col-md-3 col-sm-6 col-xs-12">
          <button class="button btn-default">SEND</button>
        </span>
      </h3>
      <span class="col-xs-1"></span>
    </div>
  </div>
  <div class="col-xs-12 social-media">
    <img src="../../../assets/img/facebook_big_white.png">
    <img src="../../../assets/img/twitter_big_white.png">
    <img src="../../../assets/img/instagram_big_white.png">
  </div>
</div>
