

@font-face {
  font-family:book;
  src: url("../../../assets/fonts/bebas_neue/BebasNeue_Regular.otf");
 }

 @font-face {
  font-family:head;
  src: url("../../../assets/fonts/bebas_neue/BebasNeue_Bold.otf");
 }

 h1{
   font-size: 70px;
 }



