
    <div class="container"> <!--//////////////////////TOP LEVEL STUFF/////////////////////-->
      <div class="row uparwala">
        <div id="actor-header" class="col-xs-12">
          <h1 style="font-family: book;" align="center">PROFILE INFO</h1>
        </div>
      </div>

      <div class="row" id="top-box-upper" >
          <div class="col-xs-2" ></div>
          <div class="col-xs-2" ><h2>text1</h2></div>
          <div class="col-xs-2" ><h2>text1</h2></div>
          <div class="col-xs-2" ><h2>text1</h2></div>
          <div class="col-xs-2" ><h2>text1</h2></div>
          <div class="col-xs-2" ></div>
      </div>

      <div class="row" id="top-box-lower" >
          <div class="col-xs-2" ></div>
          <div class="col-xs-2" ><h2>text1</h2></div>
          <div class="col-xs-2" ><h2>text1</h2></div>
          <div class="col-xs-2" ><h2>text1</h2></div>
          <div class="col-xs-2" ><h2>text1</h2></div>
          <div class="col-xs-2" ></div>
      </div>
      </div>
      <div class="container">   <!--/////////////////////INFO AND PIC BLOCK//////////////////-->
        <div class="row" id='info-pic'>
          <div class="col-xs-7" align="center">
            <div class="container" id="info">
              <div class="row">
                <div class="col-xs-7"><h2>HEADER</h2></div>
                <div class="w-100"></div>
                <div class="col-xs-7">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ip sum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    
                </div>
              </div>
              <div class="row">
                <div class="col-xs-7"><h2>HEADER</h2></div>
                <div class="w-100"></div>
                <div class="col-xs-7">SKILL DISPLAY ZONE</div>
              </div> 
              <div class="row" id='social'>
                <div class="col-xs-7"><h2>SOCIAL</h2></div>
                <div class="w-100"></div>
                <div class="col-xs-7">
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-2"></div>
                      <div class='col-xs-1' align=''> <img src="../../../assets/BUTTONS-ICONS/facebook_small_blue.png"></div>
                      <div class='col-xs-1' align=''> <img src="../../../assets/BUTTONS-ICONS/twitter_small_blue.png"></div>
                      <div class='col-xs-1' align=''> <img src="../../../assets/BUTTONS-ICONS/instagram_small_blue.png"></div>
                      <div class="col-xs-2"></div>
                    </div>
                  </div>
                </div>
              </div>
              </div>    
            </div>
            <div class="col-xs-5" align="center"><img src="../../../assets/img/ACTORS_PROFILE/APPLE.jpg"></div>
        </div>
      </div>
      <br>
      <div class="container"> <!--////////////////////EXTRA OPTIONS///////////////////////-->
        <div class="row" id='extra'>
          <div class="col-xs-4" align="end"><h3>SHARE PROFILE</h3></div>
          <div class="col-xs-4" align="middle"><h3>BUTTON ZONE</h3></div>
          <div class="col-xs-4" align="start"><h3>ADD PICTURE</h3></div>
        </div>
      </div>
      <div class="container"> <!--/////////////////////PIC GALLERY//////////////////////-->
        <div class="row" id="bottom-pics">
          <div class="col-xs-4" align="center"><h2>PIC</h2></div>
          <div class="col-xs-4" align="center"><h2>PIC</h2></div>
          <div class="col-xs-4" align="center"><h2>PIC</h2></div>
          <div class="w-100"></div>
          <div class="col-xs-4" align="center"><h2>PIC</h2></div>
          <div class="col-xs-4" align="center"><h2>PIC</h2></div>
          <div class="col-xs-4" align="center"><h2>PIC</h2></div>
        </div>
      </div>



    <!--##############################################################################-->
    

