<!DOCTYPE html>
<html>
<head>

	<meta charset="utf-8">
  <title>FilmLoop</title>
  <!-- <base href="/"> -->
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="home.component.css">
	
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
	
</head>
<body>


    <!--//////////////////PROFILE////////////////-->
    
    <div class="top">
        <div style="width: 100%px; height:10px;"></div>
        <img src="../../assets/img/ff_Webp.net-resizeimage.png">
      </div>

    <div class="container">
        <div class="row underlined-links">
            <div class="col-xs-8"></div>
            <div class="col-xs-2 underlined-links">EDIT PROFILE<img src="../../assets/BUTTONS-ICONS/edit_blue_18dp.png"></div>
            <div class="col-xs-2 underlined-links">HELP</div>
          </div>
    </div>
    
    
    <div class="container"> <!--//////////////////////TOP LEVEL STUFF/////////////////////-->
      
      <div class="row">
        <div id="actor-name" class="col-xs-12" align="center">
          {{ fields.name }}
        </div>
        <div class="col-xs-12" style="height: 40px; background-color: #ffffff"></div>

      </div>

      <div class="row internal-headers" id="top-box-upper" ><!--////////////////Physical highlights///////////////-->
          <div class="col-xs-2" ></div>
          <div class="col-xs-2" ><h5><b>Height:</b> {{ fields.height }}</h5></div>
          <div class="col-xs-2" ><h5><b>Bust:</b> {{ fields.chest }}</h5></div>
          <div class="col-xs-2" ><h5><b>Waist:</b> {{ fields.waist }}</h5></div>
          <div class="col-xs-2" ><h5><b>Weight:</b> {{ fields.weight }}</h5></div>
          <div class="col-xs-2" ></div>
      </div>

      <div class="row internal-headers" id="top-box-lower" ><!--////////////////Physical highlights///////////////-->
          <div class="col-xs-2" ></div>
          <div class="col-xs-2" ><h5><b>Dress:</b> 8-10</h5></div>
          <div class="col-xs-2" ><h5><b>Shoe:</b> 9</h5></div>
          <div class="col-xs-2" ><h5><b>Hair:</b> Blonde</h5></div>
          <div class="col-xs-2" ><h5><b>Eyes:</b> Green</h5></div>
          <div class="col-xs-2" ></div>
      </div>
      <div class="col-xs-7" style="height: 40px; background-color: #ffffff"></div>

      </div>
      <div class="container">   <!--/////////////////////INFO AND PIC BLOCK//////////////////-->
        <div class="row" id='info-pic'>
          <div class="col-xs-7" align="center">
            <div class="container" id="info">
              <div class="row">
                <div class="col-xs-7 headerStyle">About</div>
                <div class="col-xs-7" style="height: 20px; background-color: #ffffff"></div>

                <div class="w-100"></div>
                <div class="col-xs-7 content-text">Lorem Ipsum door sit amet, veri theophrastus eos ut, aperiri ceteros appetere mea an. Nam at audire ceteros intellegebat.  
                </div>
                <div class="col-xs-7" style="height: 30px; background-color: #ffffff"></div>

              </div>

              <div class="row">
                  <div class="col-xs-7 headerStyle">Skills</div>
                  <div class="col-xs-7" style="height: 20px; background-color: #ffffff"></div>
              </div>

              <div class="row">
                <div class="col-xs-7 content-text-headers">Musical</div>
                <div class="w-100"></div>
                <div class="col-xs-7 content-text"> 
                  {% for i in musical_skills %}
                    {{ i }}
                  {% endfor %}
                </div>

              </div>

              <div class="row">
                <div class="col-xs-7 content-text-headers">Performance</div>
                <div class="w-100"></div>
                <div class="col-xs-7 content-text">
                  {% for i in performance_skill %}
                    {{ i }}
                  {% endfor %}
                </div>

              </div>

              <div class="row">
                <div class="col-xs-7 content-text-headers">Athletic</div>
                <div class="col-xs-7 content-text">
                  {% for i in athletic_skills %}
                    {{ i }}
                  {% endfor %}
                </div>

                <div class="w-100"></div>

              </div>

              <div class="row">
                <div class="col-xs-7 content-text-headers">Dancing</div>
                <div class="col-xs-7 content-text">
                  {% for i in dancing_skills %}
                    {{ i }}
                  {% endfor %}
                </div>

                <div class="w-100"></div>

              </div>
                    
              <div class="row">
                <div class="col-xs-7 content-text-headers">Work History</div>
                <div class="w-100"></div>
                <div class="col-xs-7 content-text">
                  {% for i in work_history %}
                    {{ i }}
                  {% endfor %}
                </div>
                <div class="col-xs-7" style="height: 30px; background-color: #ffffff"></div>


              </div>
  
              
              <!-- <div class="row">
                <div class="col-xs-7 headerStyle">Skills</div>
                <div class="col-xs-7" style="height: 20px; background-color: #ffffff"></div>

                <div class="w-100"></div>
                <div class="col-xs-7">
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-7 content-text-headers">Muscial </div>
                      <div class="w-100"></div>
                      <div class="col-xs-7 content-text"> violin-flute-harmonic</div>
                    </div>

                    <div class="row">
                      <div class="col-xs-7 content-text-headers">Performance </div>
                      <div class="w-100"></div>
                      <div class="col-xs-7 content-text">comedian-host-improvisation-juggling</div>
                    </div>

                    <div class="row">
                      <div class="col-xs-7 content-text-headers">Athletic </div>
                      <div class="w-100"></div>
                      <div class="col-xs-7 content-text">baseball-basketball-boxing-yoga</div>
                    </div>

                    <div class="row">
                      <div class="col-xs-7 content-text-headers">Dancing </div>
                      <div class="w-100"></div>
                      <div class="col-xs-7 content-text">Bharatnatyam-Salsa-Kuchipudi-Western</div>
                    </div>

                    <div class="row">
                      <div class="col-xs-7 content-text-headers">Work History</div>
                      <div class="w-100"></div>
                      <div class="col-xs-7 content-text">commercial-tv series-theatre-radio</div>
                    </div>
                  </div>
                </div>
                <div class="col-xs-7" style="height: 30px; background-color: #ffffff"></div>

              </div> -->
               
              <div class="row" id='social'>
                <div class="col-xs-7 headerStyle">Social Media Links</div>
                <div class="col-xs-7" style="height: 20px; background-color: #ffffff"></div>

                <div class="w-100"></div>
                <div class="col-xs-7">
                  <div class="container">
                    <div class="row">
                      <div class="col-xs-2"></div>
                      <div class='col-xs-1' align=''> <img src="../../assets/BUTTONS-ICONS/facebook_small_blue.png"></div>
                      <div class='col-xs-1' align=''> <img src="../../assets/BUTTONS-ICONS/twitter_small_blue.png"></div>
                      <div class='col-xs-1' align=''> <img src="../../assets/BUTTONS-ICONS/instagram_small_blue.png"></div>
                      <div class="col-xs-2"></div>
                    </div>
                  </div>
                </div>
              </div>
              </div>    
          </div>
          <div class="col-xs-5" align="center"><div class="dummy-pfp"></div></div>
          <!-- <div class="col-xs-5" align="center"><img src="../../../assets/img/ACTORS_PROFILE/APPLE.jpg"></div> -->
        </div>
      </div>
      <br>
      <div class="container"> <!--////////////////////EXTRA OPTIONS///////////////////////-->
        <div class="row" id='extra'>
          
          <div class="col-xs-4 underlined-links" align="center">SHARE THIS PROFILE WITH <img src="../../assets/BUTTONS-ICONS/share_blue_18dp.png"></div>
          <div class="col-xs-4 underlined-links" align="center">PRINT OR SHARE COMPCARD <img src="../../assets/BUTTONS-ICONS/get_it_blue_18dp.png"></div>
          <div class="col-xs-4 underlined-links" align="center">ADD PICTURES TO PORTFOLIO <img src="../../assets/BUTTONS-ICONS/add_a_photo_blue_18dp.png"></div>
          <div class="col-xs-4" style="height: 30px; background-color: #ffffff"></div>

        </div>
      </div>
      <div class="container"> <!--/////////////////////PIC GALLERY//////////////////////-->
        <div class="row" id="bottom-pics">
  
          <!-- <div class="col-xs-4" style="border: 20px;" align="center"><img src="../../assets/BUTTONS-ICONS/facebook_big_white.png"></div>
          <div class="col-xs-4" style="border: 20px;" align="center"><div class="dummy-img"></div></div>
          <div class="col-xs-4" style="border: 20px;" align="center"><div class="dummy-img"></div></div>
          <div class="col-xs-12" style="height: 80px; background-color: #ffffff"></div>
          <div class="col-xs-4" style="border: 20px;" align="center"><div class="dummy-img"></div></div>
          <div class="col-xs-4" style="border: 20px;" align="center"><div class="dummy-img"></div></div>
          <div class="col-xs-4" style="border: 20px;" align="center"><div class="dummy-img"></div></div>
          <div class="col-xs-12" style="height: 80px; background-color: #ffffff"></div> -->

        {% for i in url_list %}
        {% load static %}  
            <div class="col-xs-4" style="border: 20px;" align="center"><div src="{% static i %}"></div></div>
          </div>
        {% endfor %} 
        </div>
          
          <!-- <div class="col-xs-3" style="background-color: #023749; width: 220px; height: 350px;"></div>
          <div class="col-xs-1" style="width: 80px;"></div>
          <div class="col-xs-3" style="background-color: #023749; width: 220px; height: 350px;"></div>
          <div class="col-xs-1" style="width: 80px;"></div>
          <div class="col-xs-3" style="background-color: #023749; width: 220px; height: 350px;"></div>
          <div class="col-xs-1" style="width: 80px;"></div>
          <div class="col-xs-12" style="height: 80px; background-color: #ffffff"></div>
          <div class="col-xs-3" style="background-color: #023749; width: 220px; height: 350px;"></div>
          <div class="col-xs-1" style="width: 80px;"></div>
          <div class="col-xs-3" style="background-color: #023749; width: 220px; height: 350px;"></div>
          <div class="col-xs-1" style="width: 80px;"></div>
          <div class="col-xs-3" style="background-color: #023749; width: 220px; height: 350px;"></div>
          <div class="col-xs-1" style="width: 80px;"></div> -->

        </div>
      </div>


      <div class="container" style="height: 300px; width: 100%; background-color: #023749;">
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6" id="follow-us"><br>FOLLOW US<br><br></div>
          <div class="col-xs-3"></div>
        </div>
        <div class="row ">
          <div class="col-xs-12"></div>
          <table align="center">
            <th><img src="../../assets/BUTTONS-ICONS/facebook_big_white.png"></th>
            <div style="width:30px;"></div>
            <th><img src="../../assets/BUTTONS-ICONS/twitter_big_white.png"></th>
            <div style="width:30px;"></div>
            <th><img src="../../assets/BUTTONS-ICONS/instagram_big_white.png"></th>
          </table>
          <div class="col-xs-3"></div>
          
        </div>
      </div>



    <!--##############################################################################-->



</body>
</html>